.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  a {
    text-decoration: none;
  }
}
.title {
  color: #000000;
  text-decoration: none;
}
.navList {
  list-style-type: none;
  display: flex;
  flex-basis: 50%;
  justify-content: flex-end;
  align-content: center;
  
}
.navItem {
  margin-right: 1rem;
  color: #999999;
  font-size: 0.9rem;
  align-self: center;
}
.navItem:hover {
  color: #666666;
}
.navItemActive {
  color: #333333;
}
