.home{
    max-width: 100%;
    width: 100vw;
    min-height: 40%;
    height: 40vw;
    background-image: url('http://images.ctfassets.net/qicy4p9yvqc1/6Uu9b3BipfqjUwvNW2iejo/172280fa3bee0a6d4533d52dee80aa7e/Photo_on_6-23-19_at_4.54_PM__4.jpg');
    background-size: cover;
    background-position: right;
    
}

.text{

    font-size: 20rem;
    color: white;
}