.layout {
    margin: 0 auto;
  width: 80vw;
  min-height: 100vw;
  height: auto;
  /* flex */
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  /* style */
}
.content {
  width: inherit;
  height: 100%;
  /* flex */
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  /* style */
  box-shadow: 0 .5rem .5rem 0 #999999;
}
