.container {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 1rem;    
    display: flex;
    flex-direction: column;
    align-content: center;
    min-height: 100vh;
}
.content{
    margin: 2rem 0;
}