.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #e4e4e4;
    padding: 1rem;
    margin: 1rem;

    ul{
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        li{
            font-size: .9rem;
            list-style-type: none;
            margin-right: 1rem;
            width:  auto;
        }
    }
}

.top{
    display: flex;
    flex-direction: row;
}

.bottom{
    display: flex;
    flex-direction: row;
}

.list{
}

.links{ 
}

.image{
    width: 20%;
    
}