.project{
    display: inline-flex;
    .image{
   
    }
    .info{
        display: flex;
        flex-flow: column;
        ul{

            display: inline-flex;
            list-style-type: none;
            justify-content: flex-start;
            li{
                margin-right: 1rem;

            }
        }
    }
    
}